
# Python/Streamlit
__pycache__/
*.pyc
.venv/
.env

# Logs y artefactos grandes
logs/
models/
*.log

# Sistemas
.DS_Store
Thumbs.db

# Datos pesados
data/

# Streamlit y editor
.streamlit/
.vscode/
.pytest_cache/
*.ipynb_checkpoints
